* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /*Colors*/

    /*Brand*/
    --color-brand-light: #59B2FF;
    --color-brand-mid: #3487CF;
    --color-brand-dark: #1D6FB6;

    /*Accent Colors*/
    --color-purple: #B259FF;
    --color-fuschia: #FF59F9;
    --color-pink: #FF598B;
    --color-orange: #FF8B59;
    --color-yellow: #FFCD59;
    --color-lime: #E1FF59;
    --color-green: #59FF91;
    --color-cyan: #59FFF9;
    --color-navy: #6A59FF;

    /*Feedback*/
    --color-danger: #FF5959;

    /*Input*/
    --color-input-base: #1C1F21;
    --color-input-stroke: #363B40;
    --color-input-placeholder: #869198;

    /*Shape*/
    --color-shape-background: #131516;
    --color-shape-body: #212427;
    --color-shape-button: #2D3136;
    --color-shape-hover: #383D42;

    /*Text*/
    --color-text-body: #C8CDD0;
    --color-text-heading: #F9F9F9;

    
    /*Typography*/

    /*Font Family*/
    --Font-Family-leckerli-one: "Leckerli One", cursive;
    --Font-Family-baloo-2: "Baloo 2", 'Helvetica', 'sans-serif';
    --Font-Family-open-sans: "Open Sans", 'Helvetica', 'sans-serif';

    /*Typos*/
    --Typo-logo: 400 2.5rem/100% var(--Font-Family-leckerli-one);

    --Typo-Heading-Md: 700 1.75rem/100% var(--Font-Family-baloo-2);
    --Typo-Heading-Sm: 700 1.125rem/100% var(--Font-Family-baloo-2);

    --Typo-Body-Md: 600 1rem/100% var(--Font-Family-open-sans);
    --Typo-Body-Sm: 400 0.875rem/100% var(--Font-Family-open-sans);
    --Typo-Body-Xs: 600 0.75rem/100% var(--Font-Family-open-sans);
}

body {
    background-color: var(--color-shape-background);
    color: var(--color-text-heading);
    padding: 1.25rem;
    height: 100vh;
    display: grid;
    gap: 1.25rem;
    grid-template-columns: 32% auto;
    overflow: hidden;
}

h2 {
    font: var(--Typo-Heading-Md);
    color: var(--color-text-heading);
}

h3 {
    font: var(--Typo-Heading-Sm);
    color: var(--color-text-heading);
}