input[type=text], input[type=date], textarea {
    background-color: var(--color-input-base);
    color: var(--color-text-heading);
    border: 1px solid var(--color-input-stroke);
    border-radius: 0.5rem;
    font: var(--Typo-Body-Md);
    padding-inline: 1rem;

    &::placeholder {
        color: var(--color-input-placeholder);
        font: var(--Typo-Body-Md);
    }

    &:focus, &:hover {
        border: 1px solid var(--color-brand-light);
        outline: none;
    }

    &:invalid {
        border: 1px solid var(--color-danger);
        outline: none;
    }
}

input {
    height: 3rem;
}

input[type=file] {
    font: var(--Typo-Body-Md);
    color: var(--color-input-placeholder);
    padding-block: 0.9rem;

    &:valid {
        color: var(--color-text-body);
    }
}

.no-button-file-default {
    &::-webkit-file-upload-button, ::file-selector-button {
        display: none;
    }
}

.segmented-control {
    border-radius: 0.5rem;
    height: 3rem;
    padding: 0.25rem;
    display: flex;
    gap: 0.25rem;
    background-color: var(--color-input-base);
    border: 1px solid var(--color-input-stroke);

    .option {
        border-radius: 0.25rem;
        padding: 0.25rem;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;

        font: var(--Typo-Body-Sm);
        color: var(--color-text-body);

        input {
            appearance: none;
        }
        
        &:has(input:checked) {
            border-radius: 0.313rem;
            background-color: var(--color-shape-button);
            font-weight: 600;
            color: var(--color-text-heading);
            
            svg {
                stroke: var(--color-brand-light);
            }
        }


        
    }
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding-block: 0.25rem;
    font: var(--Typo-Body-Sm);
    color: var(--color-text-body);

    .checkbox {
        background-color: var(--color-input-base);
        border: 1px solid var(--color-input-stroke);
        border-radius: 0.25rem;
        height: 1.25rem;
        width: 1.25rem;
    }
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"]:checked + .checkbox {
        border-color: var(--color-brand-light);
        background-image: url(..//assets/icons/check-light-blue.svg);
        background-position: center;
        background-clip: contain;
    }

    a {
        text-decoration-line: none;
        color: var(--color-brand-light);
    }
}

textarea {
    padding: 1rem;
}